@import "styles/variables.scss";

main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

body {
  max-width: 100%; /* ou um valor específico, como 1200px */
  margin: 0 auto;  /* centraliza o conteúdo na tela */
  overflow-x: hidden; /* impede a rolagem horizontal */
}

// NAV BAR
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;

  .menu-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    a {
      font-weight: 500;
      font-size: 17px;
      text-decoration: none;
      color: $color-primary-2;
      cursor: pointer;

      &:hover {
        color: $color-primary;
        transition: all 600ms;
      }
    }

    .searchBar {
      position: relative;
      left: 25%;
      border-radius: none;
      border: none;
      padding: 10.5px 22px;
      background-color: $color-primary-2;
      margin: auto;
      font-weight: 500;
    }

    .searchButton {
      position: relative;
      left: 24.5%;
      background-color: $color-primary;
      color: #fff;
      border: none;
      border-radius: none;
      padding: 10px 5px;
      margin-left: -40px;
      width: 45px;
      cursor: pointer;
    }


    .lupe {
      height: 40%;
      width: 40%;
    }

  }
    button {
      border-radius: none;
      border: none;
      padding: 12px 24px;
      color: $color-primary-2;
      background-color: $color-primary;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        @include hover-styles;
      }
  }

  .logo-pic {
    width: 5%;
    cursor: pointer;

    &:hover {
      width: 6%;  // Adjust the width as needed
      transition: width 0.6s ease;  // Add a smooth transition effect
    }
  }

}

// CONTENT CONTAINER
.content-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgb(160, 174, 200);
  background-color: black;
  padding: 20px; // Adicione o padding conforme necessário para espaçamento


    .slogans {
    position: absolute;
    top: 50%;       // Move para o meio da altura do content-container
    right: 0;       // Alinha à extrema direita do content-container
    transform: translateY(-50%);  // Centraliza verticalmente
    padding: 50px;  // Adicione padding conforme necessário
    }

    .slogan-1 {
      position: relative;
      right: 3.5%;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.5mm;
      color: $color-primary;
    }

    .satellite{
      color: $color-primary-2;
      font-size: 60px;
      font-weight: 800;
    }

    p {
      position: relative;
      left: 66%;
      color: $color-primary-2;
    }

    .buy-now-btn {
      position: relative;
      left: 75%;
      border-radius: none;
      border: none;
      padding: 14px 86px;
      color: $color-primary-2;
      background-color: $color-primary;
      font-weight: 800;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        @include hover-styles;
      }
    }

    .harold {
      position: relative;
      right: 10%;
      height: 23%;
      width: 43%;
    }
    .harold img {
      max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
      max-height: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    }

}

// SECONDARY CONTAINER
.secondary-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgb(160, 174, 200);
  background-color: $color-primary-2;
  padding: 70px; // Adicione o padding conforme necessário para espaçamento

  .title-shoes {
    display: flex;
    align-items: center;
    justify-content: center;

      h1 {
        font-size: 28px;
        color: $color-primary-3;
      }
  }

  .shoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .h1-shoes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shoes-pic {
    display: flex;
    flex-direction: column; /* Configuração para colocar os itens verticalmente */
    align-items: center;
    text-decoration: none; /* Removendo sublinhado do link */
    color: $color-primary-3;
    height: 80%;
    width: 80%;

  }

  .shoespic {
    height: 80%;
    width: 80%;

    &:hover {
      width: 90%;  // Adjust the width as needed
      transition: width 0.5s ease;  // Add a smooth transition effect
    }
  }

}

// GAZELLE CONTAINER
.container-gazelle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgb(160, 174, 200);
  background-color: rgb(186, 51, 51);
  padding: 20px; // Adicione o padding conforme necessário para espaçamento

  .image-container-gazelle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gazelle {
    height: 50%;
    width: 50%;
    padding: 20px;
    padding-left: 40px;
  }

  .gazelle-h1 {
    font-weight: 800;
    font-size: 40px;
    color: $color-primary-2;
  }

  .gazelle-p1 {
    font-size: 14px;
    margin: 10px 0px; /* Ajuste conforme necessário */
    line-height: 1.5; /* Ajuste conforme necessário */
    // font-weight: 500;
    color: $color-primary-2;
  }

  .gazelle-text {
    position: relative;
    left: 15%;
  }

  .gazelle-btn {
    position: relative;
    left: -1%;
    border-radius: none;
    border: none;
    padding: 14px 86px;
    color: $color-primary-2;
    background-color: $color-primary;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      @include hover-styles;
    }
  }

}

// SPEZIAL CONTAINER
.spezial-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgb(160, 174, 200);
  background-color: rgb(28, 160, 114);
  padding: 20px; // Adicione o padding conforme necessário para espaçamento

  .image-container-spezial {
    display: flex;
    justify-content: flex-start;
    align-items: start;
  }

   .spezial {
    width: 50%;
    height: 50%;
    padding: 20px;
    position: relative;
    left: 19%;
   }

   .spezial-h1 {
    font-weight: 800;
    font-size: 40px;
    color: $color-primary-2;
  }

  .spezial-p1 {
    // position: relative;
    // right: 5%;
    font-weight: 500;
    color: $color-primary-2;
    padding-right: 20px;
  }

  .spezial-text {
    position: relative;
    right: 15%;
  }

  .spezial-btn {
    position: relative;
    right: 1%;
    border-radius: none;
    border: none;
    padding: 14px 86px;
    color: $color-primary-2;
    background-color: $color-primary;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      @include hover-styles;
    }
  }
}

// SAMBA CONTAINER
.samba-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgb(160, 174, 200);
  background-color: rgb(241, 240, 177);
  padding: 20px; // Adicione o padding conforme necessário para espaçamento

  .image-container-samba {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .samba {
    width: 50%;
    height: 50%;
    padding: 20px;
   }

   .samba-h1 {
    font-weight: 800;
    font-size: 40px;
    color: $color-primary-3;

  }

  .samba-p1 {
    font-weight: 500;
    // font-size: 15px;
    color: $color-primary-3;
    padding-right: 50px;
    line-break: auto;
  }

  .samba-text {
    position: relative;
    left: 14%;

  }

  .samba-btn {
    position: relative;
    right: 0%;
    border-radius: none;
    border: none;
    padding: 14px 86px;
    color: $color-primary-2;
    background-color: $color-primary;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      @include hover-styles;
    }
  }
}

// CAMPUS CONTAINER
.campus-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgb(160, 174, 200);
  background-color: rgb(94, 152, 193);
  padding: 20px; // Adicione o padding conforme necessário para espaçamento

  .image-container-campus {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    // padding-left: 60px;
  }

   .campus {
    width: 45%;
    height: 45%;
    padding: 20px;
    position: relative;
    left: 14%;
   }

   .campus-h1 {
    position: relative;
    right: 2%;
    font-weight: 800;
    font-size: 40px;
    color: $color-primary-2;
  }

  .campus-p1 {
    position: relative;
    right: 2%;
    font-weight: 500;
    color: $color-primary-2;
    padding-right: 20px;
  }

  .campus-text {
    position: relative;
    right: 23%;
  }

  .campus-btn {
    position: relative;
    right: 2%;
    border-radius: none;
    border: none;
    padding: 14px 86px;
    color: $color-primary;
    background-color: $color-primary-2;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      @include hover-styles-1;
    }
  }
}

// MINI PRODUCT GRID
.galery-grid {
  display: flex;
  flex-wrap: wrap;
  width: 120%;
  height: 120%;
  justify-content: center;
  align-items: center;
  // margin: 20px 0;
  background-color: $color-primary-2;
  padding: 35px;

    .content {
      width: 20%;
      margin: 35px;
      box-sizing: border-box;
      float: left;
      text-align: center;
      border-radius: 10px;
      cursor: pointer;
      padding-top: 50px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
      transition: .4s;
      background: white;
    }

    .content:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.16);
      transform: translate(0px, -8px);
    }

    .grid-pic {
      width: 100%;
      height: 100%;
      text-align: center;
      margin: 0 auto;
      display: block;
    }

    h3 {
      text-align: start;
      font-size: 20px;
      padding-top: 10px;
      margin-left: 20px;
      color: $color-primary;
    }

    p {
      text-align: start;
      margin-left: 20px;
      padding-top: 0 8px;
      color: $color-primary-3;
    }

    .price {
      text-align: start;
      margin-left: 20px;
      padding-top: 0 8px;
      color: $color-primary-3;
    }

    .title-grid{
      display: flex;
      align-items: end;
      justify-content: end;
      flex-direction: row;
      color: $color-primary-3;
    }

    .buy-1, .buy-2, .buy-3 {
      // position: relative;
      // left: -1%;
      display: flex;
      justify-content: flex-start;
      align-items: start;
      border: none;
      padding: 14px 36px;
      margin: 20px;
      color: $color-primary-2;
      background-color: $color-primary;
      font-weight: 800;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        @include hover-styles;
      }
    }
}

.best-seller {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-2;
  width: 100%;
  height: 100%;
  padding-top: 40px;

    h1 {
      color: $color-primary-3;
      font-size: 40px;
      font-weight: 800;
    }
}

// FOOTER
.footer {
  background-color: $color-primary-3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 40px 0;
  line-height: 1.5;

    .footer-container {
      max-width: 1170px;
      margin: auto;
    }

    .footer-row {
      display: flex;
      flex-wrap: wrap;
      gap: 10%;
    }

    .footer-col {
      width: 25%;
      padding: 0 15px;

        h4 {
          font-size: 30px;
          color: $color-primary-2;
          text-transform: capitalize;
          margin-bottom: 30px;
          font-weight: 500;
          position: relative;
        }
    }

    .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: $color-primary;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }

    .footer-col ul li:not(:last-child) {
      margin-bottom: 20px;
    }

    .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: $color-primary-2;
      text-decoration: none;
      font-weight: 300;
      color: $color-primary;
      display: block;
      transition: all 0.3s ease;
    }

    ul {
      list-style: none;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} // Add a closing curly brace here
